img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  color: 	#3A3A38;
  font-family: 'Homemade Apple', cursive;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin: 0;
}

textarea, input {
  font-size: 17px;
  font-family: 'Open Sans Condensed', arial;
  border: 1px solid lightgrey;
}

textarea {
  margin-top: 5px;
  width: 175px;
  height: 100px;
}

p {
  font-size: 20px;
  font-family: 'Open Sans Condensed', arial;
}

main  {
  margin: auto;
  width: 90%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(58,58,56,.75), rgba(0, 0, 0, 0));
  margin: 0;
}

h1 {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 26px;
}

footer {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
}

@media only screen and (min-width: 640px) {
  body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 65;
  }

}
