img {
  max-width: 100%;
}

body {
  font-size: 15px;
  color: #474747;
  font-family: 'Homemade Apple';
  width: 100%
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

@media only screen and (min-width: 640px) {
  body {
    width: 900px;
    color: #292929;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }

  footer {
    font-size: 12px;
  }
}
