.butterfly {
  width: 70px;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#menu_icon, #nav-mobile{
  display: block;
  width: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#cart_icon {
  position: absolute;
  padding-top: 65px;
  margin-right: 0;
  width: 30px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }

@media only screen and (min-width: 640px) {
  .butterfly {
    width: 100px;
    height: auto;
  }

  #menu_icon {
    display: none;
    }

}
