.item-quantity, .cart_label, .simpleCart_grandTotal, .simpleCart_shipping, .simpleCart_taxRate, .simpleCart_tax, .simpleCart_quantity, .simpleCart_total {
  display: inline-block;
  margin: 0;
}

#nav-mobile {
  width: 50px;
}

#nav-browser {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#nav-browser li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Open Sans Condensed';
  font-size: 22px;
}

#nav-browser a {
  color: darkgrey;
}

#header-logo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  #header-logo {
    display: inline;
    width: 400px;
  }
}
