.item-quantity, .cart_label, .simpleCart_grandTotal, .simpleCart_shipping, .simpleCart_taxRate, .simpleCart_tax, .simpleCart_quantity, .simpleCart_total {
  display: inline-block;
  margin: 0;
}

#cart_items, #order-summary {
  display: inline-block;
  margin: 0;
}

#cart_items {
  width: 100%;
}

#order-summary {
  width: 100%;
}

#cart hr {
  display: block;
}

  #header-logo {
    display: inline;
    width: 400px;
  }

  #order-summary {
    float: right;
    width: 250px;
    border-left: solid 1px lightgrey;
    padding-left: 15px;
  }

  #cart_items {
    float: left;
    width: 400px;
  }

  #cart hr {
    display: none;
  }

}
