.item-quantity, .cart_label, .simpleCart_grandTotal, .simpleCart_shipping, .simpleCart_taxRate, .simpleCart_tax, .simpleCart_quantity, .simpleCart_total {
  display: inline-block;
  margin: 0;
}

.welcome {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

#cart_items, #order-summary {
  display: inline-block;
  margin: 0;
}

#cart_items {
  width: 100%;
}

#cart hr {
  display: block;
}

  #header-logo {
    display: inline;
    width: 400px;
  }

  #order-summary {
    width: 100%;
    border-top: solid 1px lightgrey;
  }

  #cart_items {
    float: left;
    width: 100%;
  }

  #cart hr {
    display: none;
  }

  .home-link {
    width: 70px;
    height: 50px;
    margin: 2px;
    text-align: center;
    font-family: 'Open Sans Condensed', arial;
    padding-top: 30px;
    padding-bottom: 70px;
    display: inline-block;
    color: #F08080;
    font-size: 16px;
  }

  .home-div {
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    padding-top: 50px;
  }

  .home-link-div {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    padding-top: 10px;
  }

  .home-link:hover {
    color: #F08080;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
}

  @-webkit-keyframes fadein {
    from {
      opacity:.5;
    }
    to {
      opacity:1;
    }
  }


@media only screen and (min-width: 640px) {

  .home-link-div {
    width: 350px;
  }

  .home-link {
    width: 100px;
  }

  .home-div {
    width: 650px;
  }

  .welcome {
    font-size: 60px;
  }
  #cart_items {
    width: 400px;
  }

  .lydia-bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 700px;
    text-align: center;
    font-size: 50px;
  }

  #order-summary {
    float: right;
    width: 250px;
    border-top: 0;
    border-left: solid 1px lightgrey;
    padding-left: 15px;
  }
}
