.social {
  width: 30px;
  height: 30px;
}

.social-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 135px;
}

.subtitle {
  display: none;
}

@media only screen and (min-width: 640px) {
  .subtitle {
    font-family: 'Open Sans Condensed';
    display: inline-block;
    margin-left: 10px;
    font-size: 19px;
  }
}
