/*header and footer*/
.social {
  width: 30px;
  height: 30px;
}

.social-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 135px;
}

.subtitle {
  display: none;
}

/*shopping cart*/
.item_thumb {
  width: 300px;
  height: auto;
  zoom: 150%;
}

.simpleCart_shelfItem, #cart {
  font-family: 'Open Sans Condensed';
  display: inline-block;
  width: 400px;
  margin: auto;
  margin-top: 10px;
}

#cart h3 {
  font-family: 'Homemade Apple';
}

.shelf {
  width: 900px;
}

.item_name {
  font-size: 22px;
  margin: 0;
}

.item_price, .item_add {
  font-size: 16px;
}

.item_add {
  background-color: #EE6363;
  color: white;
  border-radius: 7px;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

@media only screen and (min-width: 640px) {
  .subtitle {
    font-family: 'Open Sans Condensed';
    display: inline-block;
    margin-left: 10px;
    font-size: 19px;
  }
}
