/*header and footer*/
.social {
  width: 30px;
  height: 30px;
}

.social-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 135px;
}

.subtitle {
  display: none;
}

.hr-total {
  border: solid 1px lightgrey;
}

/*shopping cart*/
.item_thumb {
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

#cart_items img {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.item-remove {
  margin-bottom: 20px;
}

.simpleCart_shelfItem, .cart_content {
  font-family: 'Open Sans Condensed', arial;
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.cart_label, #cart div {
  font-size: 20px;
}

.shelf {
  width: 900px;
}

.item_name {
  font-size: 22px;
  margin: 0;
}

.item_price, .item_add {
  font-size: 16px;
}

.item_add {
  background-color: #EE6363;
  color: white;
  border-radius: 7px;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.item-increment, .item-decrement {
  background-color: #EE6363;
  color: white;
  border-radius: 7px;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.item-increment a, .item-decrement a {
  color: white
}

.simpleCart_items {
  display: inline-block;
}

.simpleCart_remove {
  color: #F08080;
}

.simpleCart_goToCart h3, .simpleCart_goToStore h3 {
  font-family: 'Open Sans Condensed', arial;
  font-size: 19px;
  color: #F08080;
  border-radius: 7px;

  padding: 0;

  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
  display: block;
  width: 100px;
  text-align: left;
}

.simpleCart_goToStore h3 {
  width: 90px;
}

.store {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 16px;
}


.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  margin-top: -50px;
}

.email {
  color: #F08080;
}

@media only screen and (min-width: 640px) {

  .simpleCart_goToCart h3, .simpleCart_goToStore h3 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-left: auto;
    margin-right: 0;
    width: 190px;
    text-align: right;
  }

  .simpleCart_goToStore h3 {
    width: 190px;
  }

  #cart_items img {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  .goToCart {
    display: inline-block;
  }

  .store {
    width: 555px;
    display: inline-block;
  }

  .simpleCart_checkout h3 {
    margin-left: 0;
    margin-right: auto;
  }

  .subtitle {
    font-family: 'Open Sans Condensed', arial;
    display: inline-block;
    margin-left: 10px;
    margin-right: 0px;
    font-size: 19px;
  }

  .item_thumb {
    width: 100%;
    height: auto;
    zoom: 150%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;

  }
  .simpleCart_shelfItem, .cart_content {
    width: 380px;
  }

  #cart .cart_content {
    width: 100%;
  }
}
